#define BASE  0
#define LOWER 1
#define RAISE 2
#define FUN   3
#define ADJUST 4

#include "includes/mods.dtsi"
#include "includes/macros.dtsi"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define MEH LC(LS(LALT))
#define HYPR LC(LS(LCTL(LGUI)))
#define CUT LS(DEL)
#define COPY LC(INS)
#define PASTE LS(INS)
#define RAY LGUI(SPACE)

/ {
    behaviors {
        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <175>;
            flavor = "balanced";
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <175>;
            flavor = "balanced";
        };

        lth: lth {
            compatible = "zmk,behavior-hold-tap";
            label = "LTH";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <175>;
            flavor = "tap-preferred";
        };

        rth: rth {
            compatible = "zmk,behavior-hold-tap";
            label = "RTH";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <175>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4     |  5   |                   |  6    |  7    |  8    |  9   |   0   |   -   |
            // |  DEL  |  Q  |  W  |  E   |  R     |  T   |                   |  Y    |  U    |  I    |  O   |   P   |   \   |
            // | HYPER |  A  |  S  |  D   |  F     |  G   |                   |  H    |  J    |  K    |  L   |   ;   |   '   |
            // |  MEH  |  Z  |  X  |  C   |  V     |  B   |  RAY  |  |  PIPE  |  N    |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | LGUI | LOWER  | RET  |  BKSP |  | TAB    | SPACE | RAISE | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC                   &kp N1           &kp N2           &kp N3        &kp N4        &kp N5                                        &kp N6     &kp N7        &kp N8        &kp N9       &kp N0          &kp MINUS
&kp DEL                   &kp Q            &kp W            &kp E         &kp R         &kp T                                         &kp Y      &kp U         &kp I         &kp O        &kp P           &kp BSLH
&kp LS(LC(LG(LEFT_ALT)))  &hmr LEFT_GUI A  &hmr LEFT_ALT S  &hml LCTRL D  &hml LSHFT F  &kp G                                         &kp H      &hmr LSHFT J  &hmr LCTRL K  &hmr LALT L  &hmr RGUI SEMI  &kp SQT
&kp LS(LA(LCTRL))         &kp Z            &kp X            &kp C         &kp V         &kp B    &kp LG(SPACE)       &hmr TILDE PIPE  &kp N      &kp M         &kp COMMA     &kp DOT      &kp FSLH        &kp RSHFT
                                                            &kp LGUI      &mo 1         &kp RET  &lth 2 BACKSPACE    &rth 1 TAB       &kp SPACE  &mo 2         &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP K_VOLUME_DOWN>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |   7   |  8    |   9  |   -   |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |   4   |  5    |   6  |   *   |       |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |   1   |  2    |   3  |   +   |       |
            // |       |     |     |      |      |      |        |  |       |      |       |  0    |   =  |   /   |       |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Lower";
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &kp LEFT_PARENTHESIS  &kp N7        &kp N8        &kp N9        &trans        &trans
&kp F1      &kp F2        &kp F3        &kp F4        &kp F5        &kp F6                          &kp LEFT_BRACKET      &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp MINUS     &trans
&kp F7      &kp F8        &kp F9        &kp F10       &kp F11       &kp F12                         &kp LEFT_BRACE        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PLUS      &trans
&trans      &trans        &trans        &trans        &trans        &trans        &trans    &trans  &trans                &trans        &kp N0        &kp SLASH     &kp ASTERISK  &kp PIPE
                                        &trans        &trans        &trans        &trans    &trans  &trans                &trans        &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  <-  |   v   |   ^   |  ->  |       |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Raise";
            bindings = <
&trans  &trans  &trans  &trans   &trans   &trans                     &trans                &trans                 &trans            &trans             &trans          &trans
&trans  &trans  &trans  &trans   &trans   &trans                     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACE  &kp RIGHT_BRACE
&kp F1  &kp F2  &kp F3  &kp F4   &kp F5   &kp F6                     &kp LEFT              &kp DOWN               &kp UP            &kp RIGHT          &trans          &trans
&kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &trans    &trans  &trans                &trans                 &trans            &trans             &trans          &trans
                        &trans   &trans   &trans   &trans    &trans  &trans                &trans                 &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        5

        extra_3 { status = "reserved"; };
    };
};
